body{
    background-color:rgb(10, 9, 9);
}

#container{
   
}
.col-lg-4{
    height: 100%;
}
.ronaldo{
    height:400px;
    padding: 20px 0px;
    margin-bottom: 20px;
     
}

.banner-text{
    
}
.banner-text h1{
    font-size:2rem;
    text-align:left;
    font-family: 'Berkshire Swash', cursive;
}
.banner-text p{
    text-align: center;
}

/* .btn-common{
    display: block;
    width: 70%;
    margin: auto;
} */

.card img{
    height: 180px;
    
}
li{
    margin: 15px 0px;
}

.list-item{
    height: 328px;
}
/* .btn-common:focus{
    background-color: tomato;
} */
label{
    color: white;
    font-weight: bold;
}
input{
    background-color: rgba(41, 39, 39, 0.703);
    /* border:1px solid white;
    width:50%;
     */
}
.card{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(180, 180, 180, 0); 
    box-shadow: 0px 0px 10px 2px rgba(180, 180, 180, 0);
    background-color:#202428;
    color: white;
}
#coach{
    margin-left:32px !important;
}
.per-player label{
    text-align: left;
}
.dot-align{
    position: relative;
    top:-16px;
}
/* .li-maker{
    width: 30px;
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
    
} */
#five-selected-alert{
    display: none;
    
}

@media (max-width:575px){
    .banner-text{
        width: 100%;
       
    }
    .banner-text h1{
        font-size:1.2rem;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }
    .ronaldo{
        display: block;
        margin: 0 auto;
        height: 300px;
    }
    .banner-text p{
        text-align: center;
    }
    #coach{
        margin-left:32px !important;
    }
    .messi{
        display: none;
    }
}


@media (min-width:576px) and (max-width:688px){
    /* .banner-text{
        width: 100%;
       
    }
    .banner-text h1{
        font-size:2.5rem;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }
    .banner-text p{
        text-align: center;
    }
    .ronaldo{
        display: block;
        margin: 0 auto;
        height: 300px;
    } */
    .banner-text{
        width: 100%;
       
    }
    .banner-text h1{
        font-size:1.2rem;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }
    .ronaldo{
        display: block;
        margin: 0 auto;
        height: 300px;
    }
    .banner-text p{
        text-align: center;
    }
    #coach{
        margin-left:32px !important;
    }
    .messi{
        display: none;
    }
    .banner-text h1{
        font-size:1.7rem;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }
    #messi{
        order: 2;

    }
    .messi{
        height:300px;
        width: 300px !important;
        display: block;
        margin: 0 auto;
        
       
    }
    #benner-heading-text{
        order: 1;
    }
    #ronaldo{
        display: none;
    }
    #coach{
        margin-left:32px !important;
    }
}


@media(min-width:689px) and (max-width:992px){
    /* .banner-text{
        width: 90%;
       
       
    }
    .ronaldo{
        display: block;
        margin: 0 auto;
        height: 300px;
    }
    .banner-text h1{
        text-align: center;
    } */

    .banner-text{
        width: 90%;
        margin: 0 auto;
    }

    .messi{
        height:300px;
        width: 300px !important;
        display: block;
        margin: 0 auto;
        
       
    }
    /* .ronaldo{
        
        height: 300px;
    } */
    #messi{
        order: 2;
    }
    #ronaldo{
        order: 2;
        display: none;
    }
    #benner-heading-text{
        order: 1;
    }
    .list-item{
        height:368px;
        
    }
}


@media (min-width:993px)and (max-width: 1199.98px) {
    .list-item{
        height: 330px;
        background-color: aliceblue;
        
    }
    .banner-text h1{
        font-size:1.5rem;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }
}


@media (min-width:1200px) and (max-width: 1399.98px) {
    .list-item{
       
    height: 327px;

  
    }
}

